{% extends "verify/base.html" %}
{% block title %}Текущие проверки{% endblock %}
{% block header %}
{% if active %}
Список активных заявок
{% else %}
Заявки в архиве
{% endif %}
{% endblock %}
{% block description %}{% endblock %}
{% block content %}

{% for check_item in page %}
{% include "includes/check_item.html" with check_item=check_item username=username %}
{% endfor %}
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator %}
{% endif %}
{% endblock %}
