<!-- может быть использовать path атрибут
  <iframe src="https://docs.google.com/viewer?url=https://knesh.pythonanywhere.com/media/pdf_test.pdf&embedded=true"
  width="1000" height="500" style="border: 1;"></iframe>-->
<!-- https://developers.google.com/docs/api/quickstart/js -->

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script type="text/javascript">
  google.books.load();

  function initialize() {
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
    viewer.load('ISBN:0738531367');
  }
  google.books.setOnLoadCallback(initialize);
</script>
<div id="viewerCanvas" style="width: 600px; height: 500px"></div>
<iframe src="http://docs.google.com/viewer?url=https://www.xeroxscanners.com/downloads/Manuals/XMS/PDF_Converter_Pro_Quick_Reference_Guide.RU.pdf&embedded=true" width="1000" height="500" style="border: 1;"></iframe>
